<div class="parent">
	<div class="block">
		<h1>Добро пожаловать!</h1>
	<b class="btn btn-primary w-100 py-2" type="submit">
		<a class="nav-link active" aria-current="page" href="/Info/List">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
		<path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z" />
	</svg> Начать курс
	</a>
	</b>
	<div>
</div>
		<footer class="fixed-bottom">
			<p class="float-end"><a href="#">Back to top</a></p>
			<p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
		</footer>
