<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Цель и назначение
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    АСУ СС предоставляет данные оперативным руководителям станции удобном виде, необходимые для планирования работы и принятия решений.
                    На основе этой информации работники станции более точно и оперативно определяют порядок использования технических средств и ресурсов станции, осуществляют планирование очередности станционных операций, работы маневровых локомотивов, выдачи поездных локомотивов. Одновременно система автоматизирует составление технологических документов, определяющих порядок выполнения операций.
                    Основная цель автоматизированной системы управления сортировочной станцией железной дороги - оптимизация эффективности и результативности процесса сортировки, обеспечивая правильное маршрутизацию, классификацию и отправку поездов и вагонов к их конечным пунктам назначения.
                <p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Ключевые цели
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    <strong>- Увеличение пропускной способности: </strong>Максимизация количества поездов и вагонов, которые могут быть отсортированы и отправлены в течение заданного периода времени, уменьшая задержки.
                </p><p>
                    <strong> - Улучшение точности:</strong> Минимизация ошибок в классификации, маршрутизации и отправке поездов и вагонов, обеспечивая своевременное прибытие грузов и пассажиров к их пунктам назначения.
                </p><p>
                    <strong> - Увеличение безопасности:</strong> Реализация автоматических протоколов безопасности для предотвращения аварий, столкновений и других опасных ситуаций, возникающих из-за человеческой ошибки.
                </p><p>
                    <strong> - Сокращение затрат на труд: </strong>Автоматизация задач, которые являются повторяющимися, монотонными или подверженными человеческой ошибке, освобождая персонал для выполнения задач, требующих человеческого опыта и суждения.
                </p><p>
                    <strong> - Оптимизация распределения ресурсов:</strong> Обеспечение эффективного распределения ресурсов, таких как пути, стрелки и персонал, минимизируя расточительство и уменьшая операционные затраты.
                </p><p>
                    <strong> - Предоставление реального времени видимости: </strong>Оказание реального времени мониторинга и отслеживания движения поездов и вагонов, оперативное принятие решений и быстрый отклик на нарушения или проблемы.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Преимущества автоматизации
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    - увеличение производительности и эффективности
                <p></p>
                - улучшение точности и уменьшение ошибок<p></p>
                - увеличение безопасности и уменьшение риска<p></p>
                - экономия затрат на труд и ресурсов<p></p>
                - возможности реального времени мониторинга и оперативного принятия решений</p>
            </div>
        </div>
    </div>
</div>
<footer class="container">
	<p class="float-end"><a href="#">Back to top</a></p>
	<p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>