
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Архитектура системы
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h3>Архитектура автоматизированной системы управления сортировочной станции на железной дороге  включает в себя:</h3>
                <strong>- Автоматизированные рабочие места (АРМ)</strong><p>отдельных должностных лиц на станции. Они функционируют на базе объединённых локальной вычислительной сетью ПЭВМ.</p>
                <strong>- Распределённую базу данных. </strong><p>Она построена на основе вагонной модели, охватывающей все парки и пути станции.</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Структура системы
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h3>Структура автоматизированной системы управления сортировочной станцией (АСУ СС) на железнодорожном транспорте включает следующие элементы:</h3>
                <strong>- Локальная вычислительная сеть.</strong><p>Объединяет каналы связи поста горочной автоматической централизации (ГАЦ), вычислительные узлы архивации и станционной отчётности, «местной» работы, учёта осмотра и ремонта вагонов.</p>
                <strong>- Дополнительные терминалы(автоматизированные рабочие места). </strong><p> Предназначены для одностороннего либо двухстороннего обмена информацией с сервером базы данных АСУ СС.</p>
                <strong>- Подсистема планирования и управления работы станции.</strong><p>Автоматизирует процесс планирования основных технологических процессов, осуществляемых на станции.</p>
                <strong>- Подсистема организации грузовой и коммерческой работы. </strong><p>Обеспечивает автоматизацию станционных процессов, связанных с выполнением грузовых и коммерческих операций.</p>
                <strong>- Подсистема контроля вагонов нерабочего парка. </strong><p>АСУ СС предоставляет данные оперативным руководителям станции в удобном виде, необходимые для планирования работы и принятия решений. На основе этой информации работники станции более точно и оперативно определяют порядок использования технических средств и ресурсов станции.</p>               
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Интерфейс пользователя
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">            
                <img src="~/img/ИнтерфейсПользователя.jpg" class="img-thumbnail" width="600" height="400">
            </div>
        </div>
    </div>
</div>
<footer class="container">
	<p class="float-end"><a href="#">Back to top</a></p>
	<p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>