<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                История развития
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Автоматизированная система управления сортировочной станцией на железной дороге, имеет долгую и сложную историю, которая началась в середине 20-го века. В то время железные дороги были основными транспортными артериями для перевозки грузов и пассажиров, и сортировочные станции играли ключевую роль в обеспечении эффективности и безопасности железнодорожного транспорта.
                </p>
                <p>Сегодня автоматизированные системы управления сортировочными станциями железной дороги являются высокотехнологичными и сложными системами, которые используют технологии интернета вещей и искусственного интеллекта для обеспечения удобства процесса, эффективности, безопасности и надежности железнодорожного транспорта.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                1950-е - 1960-е годы: Ранние попытки автоматизации
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>В 1950-х и 1960-х годах железные дороги начали экспериментировать с автоматизацией сортировочных станций, используя электромеханические системы и релейные схемы для управления движением поездов и вагонов. Эти ранние системы были ограничены и не могли обеспечить необходимый уровень эффективности и безопасности.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                1970-е - 1980-е годы: Введение компьютеризации
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>В 1970-х и 1980-х годах компьютеризация стала более доступной, и железные дороги начали использовать компьютеры для управления сортировочными станциями. Эти системы были более эффективными, чем предыдущие, но они все еще имели ограничения в плане масштабируемости и гибкости.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                2010-е годы - настоящее время: Интеграция технологий Интернета вещей и искусственного интеллекта
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>В 2010-х годах железные дороги начали интегрировать технологии Интернета вещей и искусственного интеллекта в свои автоматизированные системы управления сортировочными станциями. Эти технологии позволили железным дорогам еще больше улучшить эффективность и безопасность сортировочных станций, а также обеспечить более высокий уровень автоматизации и оптимизации процессов.</p>              
            </div>
        </div>
    </div>
</div>
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>