<h1> @Model.currCategory</h1>
<div class="row mt-5 mb-2">
		
		<div class="col-lg-4">
			
				 <img src="~/img/Цель и назначение.jpg" class="img-thumbnail" width="400" height="400">
				<h3>
				Цель и назначение
				</h3>
		<p>Оптимизация эффективности процесса сортировки</p>
				<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/Aim">Подробнее »</a>


		<img src="~/img/Решаемые задачи.jpg" class="img-thumbnail" width="400" height="400">
		<h3>
			Решаемые задачи
		</h3>
		<p>Система содержит обязательный перечень задач</p>
		<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/Tasks">Подробнее »</a>
	</div>
	<div class="col-lg-4">
		<img src="~/img/История развития.jpg" class="img-thumbnail" width="400" height="400">
		<h3>
			История развития
		</h3>
		<p>Имеет долгую и сложную историю</p>
		<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/History">Подробнее »</a>
		

		<img src="~/img/Архитектура системы.jpg" class="img-thumbnail" width="400" height="400">
		<h3>
			Архитектура системы
		</h3>
		<p>Архитектура включает в себя</p>
		<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/Architecture">Подробнее »</a>
	</div>
	<div class="col-lg-4">
		<img src="~/img/Техсредства.jpg" class="img-thumbnail" width="400" height="400">
		<h3>
			Используемые техсредства
		</h3>
		<p>Использует различные программные средства</p>
		<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/Stack">Подробнее »</a>


		<img src="~/img/Взаимодействие со мнешними системами.jpg" class="img-thumbnail" width="400" height="400">
		<h3>
			Взаимодействие со внешними системами
		</h3>
		<p>Системы, с которыми взаимодействует АСУ СС</p>
		<a class="btn btn-primary d-inline-flex align-items-center" href="/Info/Communication">Подробнее »</a>

	</div>
</div>
<footer class="container">
	<p class="float-end"><a href="#">Back to top</a></p>
	<p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
