<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Используемые технические (программные и аппаратные) средствa
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Автоматизированная система управления сортировочной станцией железной дороги использует различные аппаратные и программные средства для обеспечения <strong>эффективности и безопасности железнодорожного транспорта.</strong></p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Аппаратные средства
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>- Серверы и кластеры серверов:</strong> <p>для хранения и обработки больших объемов данных, а также для обеспечения высокой доступности и масштабируемости системы.</p>
                <strong>- Компьютеры и терминалы:</strong> <p>для операторов и диспетчеров, которые управляют системой и мониторят движение поездов и вагонов.</p>
                <strong>- Сенсоры и датчики:</strong> <p>для мониторинга состояния пути, температуры, влажности и других параметров, которые могут влиять на движение поездов и вагонов.</p>
                <strong>- Камеры видеонаблюдения:</strong> <p>для мониторинга движения поездов и вагонов, а также для обеспечения безопасности на станции.</p>
                <strong>- Системы автоматического управления:</strong> <p>для управления движением поездов и вагонов, включая системы автоматического торможения и управления скоростью.</p>
                <strog>- Коммуникационные системы:</strog> <p>для обеспечения связи между операторами, диспетчерами и другими участниками процесса.</p>
                <strong>- Операционные системы:</strong> <p>такие как Windows, Linux или Unix, для управления серверами и компьютерами.</p>
                <strong>- Системы управления базами данных:</strong> <p>такие как Oracle, Microsoft SQL Server или PostgreSQL, для хранения и обработки больших объемов данных.</p>
                <strong>- Программное обеспечение для автоматизации:</strong> <p>такое как SCADA (Supervisory Control and Data Acquisition), для управления и мониторинга системы.</p>
                <strong>- Алгоритмы и модели:</strong> <p>для оптимизации маршрутизации, классификации и отправки поездов и вагонов.</p>
                <strong>- Системы искусственного интеллекта:</strong> <p>для анализа данных и предсказания возможных ситуаций, которые могут возникнуть на станции.</p>
                <strong>- Интерфейсы программирования приложений:</strong> <p>для интеграции с другими системами и приложениями.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Использование и обеспечение
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <img src="~/img/Использует.jpg" class="img-thumbnail" width="800" height="600">
            </div>
        </div>
    </div>
</div>
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>©2024 - Дистанционный курс РУТ(МИИТ), Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
